@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'KOTRAHOPE';
}

pre {
  font-family: 'KOTRAHOPE';
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @apply w-9 h-9 rounded-md m-auto break-keep overflow-hidden table-cell align-middle;
}

html {
  @apply w-screen h-screen bg-background;
}

body {
  @apply w-390 h-844 bg-background m-auto;
}

textarea {
  @apply h-24 w-24 border-none bg-transparent text-xl text-center pt-4 resize-none;
}

.table-lg td {
  @apply h-28 w-28;
}

.table-sm td {
  @apply h-9 w-9 text-2xs leading-2;
}

.button {
  @apply rounded-xl w-60 py-2 text-xl hover:opacity-75;
}
